@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body{
  padding: 0px;
  margin: 0px;
}

div.container{
  height: 100vh;
  background-color: rgb(110, 25, 25);
  display: flex;
  padding: 2% 2% 2% 2%;
  font-family: 'Lato', sans-serif;
}

/*REGLE DU JEU*/

.boutonNotice{
  position: absolute;
  top: 35px;
  left: 70%;
}

.notice{
  border: none;
  font-size: 14px;
  font-weight: 600;
  color: black;
  background-color: transparent;
}

#regleDuJeu{
  height: 600px;
  width: 550px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgb(123, 181, 228);
  border-radius: 10% 10% 10% 10%;
}

.pRegleDuJeu{
  padding: 15px;
  color: rgb(26, 17, 17);
  text-align: center;
  font-size: 1.3em;
}

/*BOUTONS*/

.boutonHold{
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translate(-50px, -15px);
}
.BHold{
  border: none;
  font-size: 18px;
  font-weight: 600;
  color: black;
  background-color: transparent;
}
.boutonRelancerDes{
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translate(-65px, -45px);
}
.BRdes{
  border: none;
  font-size: 18px;
  font-weight: 600;
  color: black;
  background-color: transparent;
}
.boutonNewGame{
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translate(-70px, -50px);
}
.BNewGame{
  border: none;
  font-size: 18px;
  font-weight: 600;
  color: black;
  background-color: transparent;
}

/*IMAGE DES*/

#logoDes{
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50px, -50px);
  box-shadow: 0px 0px 45px grey
}

p.pPlayers{
  font-size: 1.8em;
  font-weight: 600;
  text-align: center;
}

p.pScoreTempo{
  font-size: 13px;
  margin: 0px;
  font-weight: 700;
  text-align: center;
}
.containerPlayerOne{
  width: 50%;
  height: 100%;
  background-color: rgba(237, 237, 237, 0.991);
  display: flex;
  justify-content: center;
}
.containerPlayerTwo{
  width: 50%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
}

/* PLAYERS */

.namePlayerOne, .namePlayerTwo{
  width: 150px;
  height: 50px;
  position: absolute;
  top: 110px;
}
#scoreTotalJ1, #scoreTotalJ2{
  text-align: center;
  color: rgb(242, 104, 70);
  font-size: 3.4em;
  font-weight: 700;
}
#scoreTempoJ1, #scoreTempoJ2{
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 1.8em;
  font-weight: 600;
}
.scoreTotalPlayerOne, .scoreTotalPlayerTwo{
  width: 70px;
  height: 70px;
  background-color: rgba(76, 0, 255, 0);
  position: absolute;
  top: 135px;
}
.scoreTemporairePlayerOne, .scoreTemporairePlayerTwo{
  height: 70px;
  width: 85px;
  background-color: rgb(242, 88, 88);
  position: absolute;
  bottom: 95px;
}

/*COULEUR LOGO*/

svg{
  color: red;
}

@media screen and (max-width: 770px) {
  #scoreTotalJ1, #scoreTotalJ2{
    text-align: center;
    color: rgb(242, 104, 70);
    font-size: 2em;
    font-weight: 600;
  }
  .namePlayerTwo, .namePlayerOne{
    width: 150px;
    height: 50px;
    position: absolute;
    top: 50px;
  }
  .scoreTotalPlayerOne, .scoreTotalPlayerTwo{
    width: 70px;
    height: 70px;
    background-color: rgba(76, 0, 255, 0);
    position: absolute;
    top: 75px;
  }
  .scoreTemporairePlayerTwo, .scoreTemporairePlayerOne{
    height: 70px;
    width: 85px;
    background-color: rgb(242, 88, 88);
    position:absolute ;
    bottom: 85px;
  }
  p.pPlayers{
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
  }
  .boutonRelancerDes{
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translate(-50px, -40px);
  }
  .boutonHold{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-40px, -15px);
  }
  .boutonNewGame{
    position: absolute;
    top: 75px;
    left: 50%;
    transform: translate(-60px, -50px);
  }
  .BNewGame{
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: black;
    background-color: transparent;
  }
  .boutonNotice{
    position: absolute;
    top: 10px;
    left: 65%;
  }
  #regleDuJeu{
    height: 330px;
    width: 360px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgb(123, 181, 228);
    border-radius: 10% 10% 10% 10%;
  }
  .pRegleDuJeu{
    padding: 5px;
    text-align: center;
    font-size: 0.8em;
  }

}